In [4]:
# !pip install keras
# !pip install scikit-learn
# !pip install tensorflow --upgrade
# !conda install matplotlib


import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
# import matplotlib.pyplot as plt
# %matplotlib inline

In [6]:
df = pd.read_csv('BNB_GBP.csv')

In [7]:
df.head()

         Date       Open       High        Low      Close
0  2020-05-08  13.749820  14.049794  13.654974  13.897699
1  2020-05-09  13.880352  14.093750  13.614360  13.651434
2  2020-05-10  13.652360  13.652360  11.865298  12.319514
3  2020-05-11  12.355208  12.471992  11.583132  12.244109
4  2020-05-12  12.263190  13.112252  12.185246  12.846337

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values('Date', inplace=True)

In [9]:
df1 = df.drop(['Open','High','Low'], axis=1)

In [10]:
df1

           Date       Close
0    2020-05-08   13.897699
1    2020-05-09   13.651434
2    2020-05-10   12.319514
3    2020-05-11   12.244109
4    2020-05-12   12.846337
...         ...         ...
1091 2023-05-04  259.540833
1092 2023-05-05  257.444794
1093 2023-05-06  258.675842
1094 2023-05-07  255.379456
1095 2023-05-08  250.903687

[1096 rows x 2 columns]

In [13]:
df2 = df1[df1['Date']>='2022-05-09']

In [14]:
df2

           Date       Close
731  2022-05-09  242.657944
732  2022-05-10  259.463715
733  2022-05-11  220.672424
734  2022-05-12  220.753113
735  2022-05-13  236.984192
...         ...         ...
1091 2023-05-04  259.540833
1092 2023-05-05  257.444794
1093 2023-05-06  258.675842
1094 2023-05-07  255.379456
1095 2023-05-08  250.903687

[365 rows x 2 columns]

In [16]:
scaler = MinMaxScaler()
df2['close_normalized'] = scaler.fit_transform(df2['Close'].values.reshape(-1, 1))

C:\Users\admin\AppData\Local\Temp\ipykernel_11840\3332760686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['close_normalized'] = scaler.fit_transform(df2['Close'].values.reshape(-1, 1))

In [17]:
X = df2['close_normalized'].values
y = df2['close_normalized'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [18]:
X_train = X_train.reshape(-1, 1, 1)
X_test = X_test.reshape(-1, 1, 1)

In [19]:
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(1, 1)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')

In [20]:
model.fit(X_train, y_train, epochs=50, batch_size=1)

Epoch 1/50
292/292 [==============================] - 5s 4ms/step - loss: 0.0602
Epoch 2/50
292/292 [==============================] - 1s 4ms/step - loss: 0.0045
Epoch 3/50
292/292 [==============================] - 1s 4ms/step - loss: 0.0011
Epoch 4/50
292/292 [==============================] - 1s 4ms/step - loss: 5.8193e-04
Epoch 5/50
292/292 [==============================] - 1s 4ms/step - loss: 3.3689e-04
Epoch 6/50
292/292 [==============================] - 1s 4ms/step - loss: 1.9591e-04
Epoch 7/50
292/292 [==============================] - 1s 4ms/step - loss: 1.2010e-04
Epoch 8/50
292/292 [==============================] - 1s 4ms/step - loss: 1.1018e-04
Epoch 9/50
292/292 [==============================] - 1s 4ms/step - loss: 6.7610e-05
Epoch 10/50
292/292 [==============================] - 1s 4ms/step - loss: 5.7157e-05
Epoch 11/50
292/292 [==============================] - 1s 4ms/step - loss: 3.6311e-05
Epoch 12/50
292/292 [==============================] - 1s 4ms/step - loss: 2.7351e-05
Epoch 13/50
292/292 [==============================] - 1s 4ms/step - loss: 2.4101e-05
Epoch 14/50
292/292 [==============================] - 1s 4ms/step - loss: 1.7058e-05
Epoch 15/50
292/292 [==============================] - 1s 4ms/step - loss: 4.1508e-05
Epoch 16/50
292/292 [==============================] - 1s 4ms/step - loss: 1.8863e-05
Epoch 17/50
292/292 [==============================] - 1s 4ms/step - loss: 1.4396e-05
Epoch 18/50
292/292 [==============================] - 1s 4ms/step - loss: 1.7234e-05
Epoch 19/50
292/292 [==============================] - 1s 4ms/step - loss: 1.8718e-05
Epoch 20/50
292/292 [==============================] - 1s 4ms/step - loss: 3.0403e-05
Epoch 21/50
292/292 [==============================] - 1s 4ms/step - loss: 1.6777e-05
Epoch 22/50
292/292 [==============================] - 1s 4ms/step - loss: 1.3181e-05
Epoch 23/50
292/292 [==============================] - 1s 4ms/step - loss: 2.3828e-05
Epoch 24/50
292/292 [==============================] - 1s 4ms/step - loss: 1.8145e-05
Epoch 25/50
292/292 [==============================] - 1s 4ms/step - loss: 2.2435e-05
Epoch 26/50
292/292 [==============================] - 1s 4ms/step - loss: 3.2300e-05
Epoch 27/50
292/292 [==============================] - 1s 4ms/step - loss: 1.6600e-05
Epoch 28/50
292/292 [==============================] - 1s 4ms/step - loss: 3.8334e-05
Epoch 29/50
292/292 [==============================] - 1s 4ms/step - loss: 2.2256e-05
Epoch 30/50
292/292 [==============================] - 1s 4ms/step - loss: 1.6973e-05
Epoch 31/50
292/292 [==============================] - 1s 4ms/step - loss: 2.4070e-05
Epoch 32/50
292/292 [==============================] - 1s 4ms/step - loss: 3.0665e-05
Epoch 33/50
292/292 [==============================] - 1s 4ms/step - loss: 1.6364e-05
Epoch 34/50
292/292 [==============================] - 1s 4ms/step - loss: 2.5381e-05
Epoch 35/50
292/292 [==============================] - 1s 4ms/step - loss: 1.7449e-05
Epoch 36/50
292/292 [==============================] - 1s 4ms/step - loss: 1.0227e-05
Epoch 37/50
292/292 [==============================] - 1s 4ms/step - loss: 1.3437e-05
Epoch 38/50
292/292 [==============================] - 1s 4ms/step - loss: 1.9807e-05
Epoch 39/50
292/292 [==============================] - 1s 4ms/step - loss: 1.6402e-05
Epoch 40/50
292/292 [==============================] - 1s 4ms/step - loss: 2.2088e-05
Epoch 41/50
292/292 [==============================] - 1s 4ms/step - loss: 1.5823e-05
Epoch 42/50
292/292 [==============================] - 1s 4ms/step - loss: 3.5256e-05
Epoch 43/50
292/292 [==============================] - 1s 4ms/step - loss: 3.0729e-05
Epoch 44/50
292/292 [==============================] - 1s 4ms/step - loss: 9.4357e-06
Epoch 45/50
292/292 [==============================] - 1s 4ms/step - loss: 1.3219e-05
Epoch 46/50
292/292 [==============================] - 1s 4ms/step - loss: 1.1756e-05
Epoch 47/50
292/292 [==============================] - 1s 4ms/step - loss: 1.0563e-05
Epoch 48/50
292/292 [==============================] - 1s 4ms/step - loss: 1.0773e-05
Epoch 49/50
292/292 [==============================] - 1s 4ms/step - loss: 1.3705e-05
Epoch 50/50
292/292 [==============================] - 1s 4ms/step - loss: 1.5049e-05

In [31]:
# Assuming 'future_date' is the date for which you want to predict the closing price
normalized_future_date = scaler.transform([[7/22/2023]])  # Normalize the future date using the same scaler

predicted_normalized_price = model.predict(np.array([normalized_future_date]).reshape(1, 1, 1))
predicted_price = scaler.inverse_transform(predicted_normalized_price)  # Inverse normalize the predicted price

1/1 [==============================] - 0s 32ms/step

In [32]:
# predicted_normalized_price
predicted_price

array([[151.5559]], dtype=float32)